{% extends "layout.html" %}

{% block content %}
{% if current_user.is_authenticated %}
  <p>Hi {{ current_user.username }}</p>
  <a href="{{ url_for('post') }}" class="icon-post" title="New post">New post</a>
{% else %}
  <p>You shouldn't be here...</p>
{% endif %}
{% endblock %}
