{% extends "layout.html" %}
{% from "macro.html" import hide_email %}

{% block content %}

<h1>{{ hide_email(user) }}</h1>

<dl>
    <dt>Lunches:</dt>
    <!-- total # of lunches ordered -->
    <dd>{{ user.orders.count() }}</dd>
    <dt>Followers:</dt>
    <!-- # of followers. user.followers is a queryset of followers -->
    <dd>{{ user.followers.count() }}</dd>
    <dt>Following:</dt>
    <!-- # of users followed. user.following is a queryset of users followed -->
    <dd>{{ user.following.count() }}</dd>
</dl>

{% endblock %}
