{% extends "layout.html" %}

{% block content %}
<div class="row">
  <hr>
  <p>SORRY! We took you to the nowhere of web 404.</p>
  <p>Please, let us take you back to the <a href="{{ url_for('index') }}">home page</a>.</p>
</div>
{% endblock %}
