{% extends 'layout.html' %}

{% block content %}
<h2>Tacos</h2>
    {% if tacos.count() %}
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Protein</th>
              <th>Cheese?</th>
              <th>Shell</th>
              <th>Extras</th>
            </tr>
          </thead>
          <tbody>
        {% for taco in tacos %}
            <tr>
                <th>{{ taco.protein }}</th>
                <th>{{ taco.cheese }}</th>
                <th>{{ taco.shells }}</th>
                <th>{{ taco.extras }}</th>
            </tr>
        {% endfor %}
          </tbody>
        </table>
    {% else %}
        <!-- message for missing tacos -->
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('taco') }}">Add a new taco</a>
        {% endif %}
        <p>no tacos yet</p>
        <p>:(</p>
    {% endif %}
{% endblock %}
