{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

{% block content %}

<form method='POST' action='' class="form">
  {{ form.hidden_tag() }}
  <div class="u-full-width">
    {{ render_field(form.email) }}
  </div>
  <div class="row">
    <div class="six columns">
      {{ render_field(form.password) }}
    </div>
    <div class="six columns">
      {{ render_field(form.password2) }}
    </div>
  </div>
  <div class="u-full-width">
    <input type="submit" class="button-primary" value="Register">
  </div>
</form>

{% endblock %}
