{% extends "layout.html" %}

{% block title %}Adding with {{ super() }}!{% endblock %}

{% block content %}
    <h1>num1 + num2 = sum-thing!</h1>
    <h1>{{ num1 }} + {{ num2 }} = {{ num1+num2 }}!</h1>
 {% endblock %}
