{% extends "layout.html" %}

{% block title %}Welcome to {{ super() }}!{% endblock %}
  </head>
{% block content %}
    <h1>Hey there, {{ name }}!</h1>
    <h2>How are you today?</h2>
{% endblock %}

{% block scripts %}
<script src="/static/scripts.js"></script>
{% endblock %}
