<!doctype html>
<html>
  <head>
    <title>{% block title %}Flask Basics{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    {% block content %}{% endblock %}
    <p>Powered with compassion and impatience.</p>
    {% block scripts %}{% endblock %}
  </body>
</html>
